@media(max-width: 767px) {
   .section-title {
      font-size: 2.25em;
      padding-top: 32px;
      padding-bottom: 23px;
   }

   .sub-title {
      font-size: 1.4em;
      padding-bottom: 5px;
   }

   .header-logo {
      transform: translate(-50%, -56%);
   }





   #menu {
      background-image: none;
      margin-top: 10px;
      margin-bottom: 115px;
   }

   #menu-inner {
      padding-top: 25px;
   }

   #menu .section-title {
      background-image: url('img/menu.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   #menu-content {
      display: block;
   }

   .menu-coffee {
      padding: 10px 0 40px;
      border: none;
   }

   .menu-list {
      margin-top: 30px;
   }

   .menu-list__price {
      text-align: right;
   }

   .menu-food-other {
      padding: 0px;
   }

   .menu-other {
      margin-top: 40px;
   }





   #about {
      background-image: none;
      margin-bottom: 80px;
   }

   #about .section-title {
      background-image: url('img/about.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   } 

   #about-inner {
      padding-top: 35px;
   }

   .about-text {
      display: block;
      margin-top: 40px;
   }

   .about-text__wrapper > p {
      margin-bottom: 27px;
   }

   .about-text__wrapper > p:last-child {
      margin-bottom: 27px;
   }

   .about-text__wrapper:nth-child(2) > p:last-child {
      margin-bottom: 0;
   }





   #location {
      background-image: none;
      margin-bottom: 80px;
   }

   #location .section-title {
      background-image: url('img/location.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   #location-inner {
      padding-top: 35px;
   }

   .location-map {
      margin-top: 25px;
   }
}