@use '../globals' as *;
@use '../parts/common' as *;

#loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $cBlack;
    z-index: 999;

    & .loading-text {
        color: white;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#mainvisual {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;

    & > video {
        max-width: none;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.header {
    padding-top: 20px;
}


.nav {
    &__main {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        list-style: none;
        margin-right: 30px;
        
        &:last-child {
            margin-right: 0;
        }

        & > a {
            color: $cWhite;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            text-shadow: 1px 1px 3px $cBlack;
            transition: all 0.3s;
        }

        &:hover {
            & > a {
                color: $cRed;
                letter-spacing: 5px;
                transform: scale(1.3);
            }
        }
    }
}

.site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cWhite;
    filter: drop-shadow(1px 1px 10px $cWhite);
    display: flex;

    & > .char {
        display: block;
        font-size: 7rem;

        @include animation(
            $name: kf-wave-chars,
            $duration: 1.5s,
            $direction: alternate,
            $fill-mode: both,
        );

        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                animation-delay: 0.15s * $i;
            }
        }
    }
}


.menu {
    & .section-title {
        background-image: url('../img/menu.jpg');
        background-attachment: fixed;
    }

    &__type {
        margin-bottom: 35px;
    }
    
    &__title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 25px;
        border-bottom: 5px solid red;
        
        @include mq() {
            font-size: 2.5rem;
        }
    }

    &__content {
        @include mq() {
            display: flex;
        }
    }

    &__coffee {
        @include mq() {
            width: 50%;
            padding:0 50px;
            border-right: 1px solid black;
        }
    }

    &__others {
        @include mq() {
            width: 50%;
            padding:0 50px;
        }
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-betweeen;

        & > dt {
            width: 87%;
            text-align: left;
            border-bottom: 1px dotted $cBlack;
            margin-bottom: 30px;
        }

        & > dd {
            width: 13%;
            text-align: right;
        }
    }
}


.about {
    margin-bottom: 60px;

    & .section-title {
        background-image: url('../img/about.jpg');
        background-attachment: fixed;
    }

    &__content {
        margin-bottom: 60px;

        & > p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        @extend .menu__title;
    }

    & .read-more {
        text-align: center;
        
        $borderDirection: (
            'top': 'top',
            'right': 'right',
            'bottom': 'bottom',
            'left': 'left',
        );

        & > a {
            display: inline-block;
            text-decoration: none;
            padding: 15px 40px;
            border: 2px solid $cRed;
            color: $cBlack;
        }
    }
}

.location {
    margin-bottom: 100px;

    & .section-title {
        background-image: url('../img/location.jpg');
        background-attachment: fixed;
    }

    &__title {
        @extend .menu__title;
    }

    & .locaiton__map {
        width: 100%;
    }
}