@use 'variables' as *;
@use 'animation-mixin' as *;

* {
    font-size: $defaultFSize;
}

.container {
    padding: 0 20px;
}

.section-title {
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    color: $cWhite;
    margin-bottom: 35px;
    text-align: center;
    overflow: hidden;

    & > .char {
        display: inline-block;
        font-size: 3rem;
        opacity: 0;

        @include animation(
            $name: kf-slide-chars,
            $duration: 4s,
            $fill-mode: both,
        );
    
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: 0.2s * $i;
            }
        }
    }
}